<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (3/17)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git </a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (3/18)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis, Part 1 </a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Part 1 (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>End</td> </tr>
    </table>
   </div>
  <div class="col-md-6">
    <h3>Day 3 (3/19)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis, Part 2 </a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Part 2 (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
      <tr> <td>12:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
     </div>

